{% extends '@App/layout.html.twig' %}
{% block content %}
<h1> Modification d'un thème  </h1>

{{ include('@App/forum/form.html.twig') }}

<p>
    <a href="{{ path('accueil') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des thèmes
    </a>
    
    <a href="{{ path('supprimer', {'id': theme.id} ) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer le thème
    </a>
  </p>
{#}
<ul>
  
  {% for theme in themes %}
   <li>
     <a href="{{ path('affichage', {'id': 1}) }}">  
      {{ theme.intitule }} 
     </a>
   <li> {{ theme.date|date('d/m/Y') }} </li>
   </br>
  
{% endfor %}

</ul>
#}

{% endblock %}