{% extends '@App/layout.html.twig' %}
{% block content %}
<h1> Détails sur le message  </h1>
<ul>
<li>{{ msg.titre }} </li>
<li> {{ msg.contenu }} </li>
<li> {{ msg.date|date('d/m/Y') }} </li>
</br>
</ul>
<ul>
{#
{% for message in msg %}
<li>
  <a href="{{ path('affichage', {'id': message.id}) }}">  
   {{ message.titre }} 
  </a>
<li> {{ message.contenu }} </li>
<li> {{ message.date|date('d/m/Y') }} </li>
</br>
#}
  {% for v2 in msg.reponses %} 
           {#<h2> messages : {{ dump (theme.messages) }} </h2> #}
          <ul> réponse : 
          
            {{ v2.titre }}
               
           </li>
          <li>  {{ v2.contenu }} </li>
          </ul>
  {% endfor %}
  {#}
  <p>
    <a href="{{ path('accueil') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des thèmes
    </a>
    <a href="{{ path('modifier', {'id': message.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      modifier le thème
    </a>
    <a href="{{ path('supprimer', {'id': message.id} ) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer le thème
    </a>
  </p>
  <a href="{{ path('ajoutMsg', {'id': message.id} ) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Poser une question
    </a>
  <p>
  </p>
{#{% endfor %}#}
</ul>



{% endblock %}